.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 80px 170px;
}

.contact-title {
  position: relative;
}

.contact-title h1 {
  padding: 0px;
  font-size: 80px;
  font-weight: 600;
}

.contact-title img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.contact-section {
  display: flex;
  flex-direction: row;
  gap: 450px;
  justify-content: space-between;
  align-items: flex-start;
}

.contact-left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contact-left h1 {
  font-size: 80px;
  font-weight: 700;
  background: linear-gradient(270deg, #08df77 0.36%, #081dbe);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-left p {
  max-width: 550px;
  color: #D8D8D8;
  font-size: 20px;
  line-height: 35px;
}

.contact-details {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: #D8D8D8;
  font-size: 22px;
}

.contact-detail {
  display: flex;
  align-items: center;
  gap: 20px;
}

.contact-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  width: 50%;
  margin-left: -50px;
  align-self: center;
}

.contact-right label {
  color: #D8D8D8;
  font-size: 22px;
  font-weight: 500;
}

.contact-right input,
.contact-right textarea {
  border: none;
  width: 100%;
  max-width: 800px;
  padding-left: 20px;
  border-radius: 4px;
  background: #32323c;
  color: #A0A0A0;
  font-family: Outfit;
  font-size: 20px;
}

.contact-right input#name,
.contact-right input#email {
  font-size: 22px;
  padding: 18px 20px;
}

.contact-right textarea {
  height: auto;
  padding: 18px 20px;
}

.contact-submit {
  border: none;
  color: white;
  border-radius: 50px;
  background: linear-gradient(264deg, #08df77 0.36%, #081dbe);
  font-size: 22px;
  padding: 20px 60px;
  margin-bottom: 50px;
  cursor: pointer;
  transition: 0.3s;
}


.contact-submit:hover {
 transform: scale(1.1);
 transform: 0.3s;
}
.contact-detail img {
  width: 25px;
}
.contact-detail p {
  font-size: 20px;
  color: #A0A0A0;
  margin-left: 10px;
}
@media(max-width: 768px) {
  .contact {
    gap: 30px; /* Reduce the gap between sections */
    margin: 50px 30px; /* Reduce margin to make more room */
    align-items: start;
  }

  .contact-title h1 {
    padding: 0;
    font-size: 50px;
    font-weight: 600;
  }

  .contact-title img {
    width: 130px;
    margin-right: -20px;
  }

  .contact-section {
    flex-direction: column;
    gap: 30px; /* Reduce the gap between left and right sections */
  }

  .contact-left h1 {
    font-size: 54px;
  }

  .contact-left p {
    font-size: 18px;
  }

  .contact-detail {
    gap: 20px;
  }

  .contact-detail img {
    width: 25px;
  }

  .contact-right {
    width: 100%; /* Full width to match the left section */
    margin-left: 0; /* Remove any left margin */
    align-self: stretch; /* Make it stretch to fill the container */
  }

  .contact-right label {
    font-size: 20px;
  }

  .contact-right input {
    width: 100%;
    font-size: 20px;
  }

  .contact-right textarea {
    width: 100%; /* Make sure the textarea takes up full width */
  }

  .contact-submit {
    width: 100%; /* Make the submit button take full width */
    font-size: 22px;
    padding: 15px 0; /* Adjust padding to fit the button in the layout */
  }
}
